{% extends 'base.html.twig' %}

{% block title %}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <title>Nouveau CV</title>
    </head>
    <body>
    <h1>Ajouter un nouveau CV</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
    </body>
    </html>

{% endblock %}

{% block body %}

{% endblock %}

